<!DOCTYPE html>
<html>
<head>
    <title>HomePage</title>
    <!doctype html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
    <div class="relative bg-gradient-to-r  from-gray-350 to-white-500 min-h-screen">
        <nav class="flex justify-between bg-white p-4 shadow-lg">
            <div class="flex space-x-4">
                <button class="text-gray-700 font-semibold hover:text-blue-600 transition-all duration-200">
                    <a href="#">
                        AboutMe
                    </a>
                </button>
                <button class="text-gray-700 font-semibold hover:text-blue-600 transition-all duration-200 ">
                    GithubRepo
                </button>
                <button class="text-blue-600 font-semibold border-b-2 border-blue-600 ">
                    APPS
                </button>
                <button class="text-gray-700 font-semibold hover:text-blue-600 transition-all duration-200">
                    FriendLink
                </button>
            </div>
            <button class="text-gray-500 hover:text-red-500 transition-all duration-200 hover:bg-blue-100">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6"><rect width="18" height="18" x="3" y="3" rx="2" ry="2"></rect><line x1="3" x2="21" y1="9" y2="9"></line><path d="m9 16 3-3 3 3"></path></svg></button>
        </nav>

        <div class="grid grid-cols-2 gap-6 p-6"><a href="https://github.com/JaeHua" class="bg-white p-6 shadow-lg rounded-lg flex items-center space-x-4 transform transition-transform hover:scale-105"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-12 w-12 bg-gray-200 rounded-full animate-spin-slow"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg><div><h3 class="text-lg font-semibold text-gray-700">
            Github
        </h3><p class="text-gray-500 ">
            赞一个Star吧 ⭐
        </p>
        </div>

        </a>
            <a href="/todolist" class="bg-white p-6 shadow-lg rounded-lg flex items-center space-x-4 transform hover:bg-blue-100 transition-transform hover:scale-105"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-12 w-12 bg-gray-200 rounded-full animate-spin-slow"><circle cx="12" cy="12" r="8"></circle><line x1="3" x2="6" y1="3" y2="6"></line><line x1="21" x2="18" y1="3" y2="6"></line><line x1="3" x2="6" y1="21" y2="18"></line><line x1="21" x2="18" y1="21" y2="18"></line></svg><div><h3 class="text-lg font-semibold text-gray-700">
                TodoList
            </h3><p class="text-gray-500">
                What's to plane?
            </p></div></a><a href="#" class="bg-white p-6 shadow-lg rounded-lg flex hover:bg-blue-100 items-center space-x-4 transform transition-transform hover:scale-105"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-12 w-12 bg-gray-200 rounded-full animate-spin-slow"><path d="m2 7 4.41-4.41A2 2 0 0 1 7.83 2h8.34a2 2 0 0 1 1.42.59L22 7"></path><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path><path d="M15 22v-4a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v4"></path><path d="M2 7h20"></path><path d="M22 7v3a2 2 0 0 1-2 2v0a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 16 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 12 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 8 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 4 12v0a2 2 0 0 1-2-2V7"></path></svg><div><h3 class="text-lg font-semibold text-gray-700">
                Stock
            </h3><p class="text-gray-500">
                Stock Market Insights
            </p></div></a><a href="#" class="bg-white p-6 shadow-lg rounded-lg flex items-center hover:bg-blue-100 space-x-4 transform transition-transform hover:scale-105"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-12 w-12 bg-gray-200 rounded-full animate-spin-slow"><polyline points="4 7 4 4 20 4 20 7"></polyline><line x1="9" x2="15" y1="20" y2="20"></line><line x1="12" x2="12" y1="4" y2="20"></line></svg><div><h3 class="text-lg font-semibold text-gray-700">
                更多
            </h3><p class="text-gray-500">
                敬请期待
            </p></div></a></div><div class="absolute bottom-0 right-0 p-6"><p class="text-white text-sm">
        Driven by @JJH
    </p></div></div>
    </body>
    </html>
</head>