<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<div class="relative bg-gradient-to-r  from-gray-350 to-white-500 min-h-screen">
    <nav class="flex justify-between bg-white p-4 shadow-lg">
        <div class="flex space-x-4">
            <button class="text-gray-700 font-semibold hover:text-blue-600 transition-all duration-200">
                <a href="#">
                    AboutMe
                </a>
            </button>
            <button class="text-gray-700 font-semibold hover:text-blue-600 transition-all duration-200 ">
                GithubRepo
            </button>
            <button class="text-blue-600 font-semibold border-b-2 border-blue-600 ">
                APPS
            </button>
            <button class="text-gray-700 font-semibold hover:text-blue-600 transition-all duration-200">
                FriendLink
            </button>
        </div>
        <button class="text-gray-500 hover:text-red-500 transition-all duration-200 hover:bg-blue-100">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6"><rect width="18" height="18" x="3" y="3" rx="2" ry="2"></rect><line x1="3" x2="21" y1="9" y2="9"></line><path d="m9 16 3-3 3 3"></path></svg></button>
    </nav>
    <div class="mx-auto w-7/12 mt-8"> <!-- 新增的容器div -->
        <div class="w-full bg-white shadow-lg rounded-lg p-6">
            <h1 class="text-2xl font-bold mb-4">TodoList</h1>

            <div class="flex mb-4">
                <input type="text" id="title" name="title" class="flex-grow mr-2 py-2 px-3 border border-gray-300 rounded" placeholder="输入新的Todo">

                <button  onclick="handleClick()" id="addTodo" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" >
                    Add
                </button>

            </div>

            <table class="w-full mb-4" >
                <thead>
                <tr>
                    <th class="font-semibold">ID</th>
                    <th class="font-semibold">Title</th>
                    <th class="font-semibold">Action</th>
                </tr>
                </thead>
                <tbody id="datalist" class="divide-y divide-gray-200">

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
<!--    页面刷新绑定数据展示-->
    window.onload = function (){
        addTodoToList()
    }
    // 按钮事件
    function handleClick() {
    //获取输入框的值
    var title = document.getElementById('title').value;

    if (title === '') {
        alert('添加失败：Title不能为空');
        return;
    }

    var data = {
        title: title
    };
    //封装成json返回给后端
    fetch('/v1/todo', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
        .then(response => response.json())
        // 必须这种异步操作，不然不能及时显示
        .then(() => {
            showSuccessAlert();
            clearInputField();
            addTodoToList();
        })
        .catch(error => {
            console.error('添加失败:', error);
        });
}
    //为了美观，成功有提示框
    function showSuccessAlert() {
        const alert = document.createElement('div');
        alert.classList.add(
            'fixed',
            'top-1/2',
            'left-1/2',
            'transform',
            '-translate-x-1/2',
            '-translate-y-1/2',
            'bg-green-500',
            'text-white',
            'p-4',
            'shadow-lg',
            'rounded'
        );

        const closeButton = document.createElement('button');
        //关闭提示框的按钮
        closeButton.innerHTML = '&times;';
        closeButton.classList.add('absolute',  'right-0', 'text-green', 'text-lg', 'rounded-full',  'p-1');
        closeButton.style.width = '24px';
        closeButton.style.height = '24px';
        closeButton.style.lineHeight = '1';
        closeButton.addEventListener('click', () => {
            document.body.removeChild(alert);
        });

        const text = document.createElement('p');
        text.textContent = 'Todo added successfully';
        text.classList.add('text-lg', 'font-bold');

        alert.appendChild(closeButton);
        alert.appendChild(text);

        document.body.appendChild(alert);
        //延时三秒
        setTimeout(() => {
            document.body.removeChild(alert);
        }, 3000);

    }
    //清除输入框
    function clearInputField() {
        document.getElementById('title').value = '';
    }

        //显示后端数据库的数据
    function addTodoToList() {
        fetch('/v1/todo')
            .then(response => response.json())
            .then(data => {
                const todoList = document.getElementById('datalist');
                todoList.innerHTML = '';

                data.forEach(todo => {
                    const tr = document.createElement('tr');

                    const id = document.createElement('th');
                    id.textContent = todo.ID;
                    id.classList.add('text-sm', 'font-semibold', 'text-gray-900');

                    const title = document.createElement('th');
                    title.textContent = todo.title;
                    title.classList.add('text-sm', 'font-semibold', 'text-gray-900', 'ml-4');

                    // const action = document.createElement('th');
                    // const deleteButton = document.createElement('button');
                    // deleteButton.textContent = 'Delete';
                    // deleteButton.classList.add('bg-red-500', 'hover:bg-red-700', 'text-white', 'font-bold', 'py-2', 'px-4', 'rounded');
                    // // deleteButton.onclick = () => handleDelete(todo.ID);
                    // action.appendChild(deleteButton);

                    tr.appendChild(id);
                    tr.appendChild(title);
                    // tr.appendChild(action);

                    todoList.appendChild(tr);
                });
            });
    }

</script>
</body>